* {
  font-family: "Roboto Slab", serif;
}
body {
  margin: 0px;
  background: linear-gradient(90deg, #7ddb88 75%, #84e890 75%);
}
h1 {
  font-size: 35px;
  padding: 20px;
  margin: 0px 0px 0px 0px;
  text-align: center;
  background-color: #6ec278;
}
p {
  font-size: 20px;
}
td,
th {
  border: 2px solid black;
}
input {
  width: 60%;
  height: 30px;
  margin: 0px 0px 10px 20px;
  border-radius: 3px;
  text-align: center;
  border-width: thin;
  border-color: black;
  background-color: rgb(204, 221, 231);
}
.flex-container {
  margin: 0px 5px 0px 0px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
#security-entry {
  margin: 0px 0px 0px 20px;
}
.input-title {
  margin: 0px 0px 0px 0px;
}
#securities-table {
  width: 4750px;
  height: 50px;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
  text-align: center;
  table-layout: fixed;
  border: 4px solid black;
}
#submit {
  width: 100px;
  height: 40px;
  margin: 10px 0px 0px 20px;
  border-radius: 15px;
  border-width: thin;
  border-color: black;
  background-color: rgb(124, 191, 233);
}
#submit:hover {
  background-color: rgb(103, 162, 199);
}
.button {
  width: 90%;
  height: 40px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
  border-width: thin;
  border-color: black;
}
#remove {
  background-color: rgb(172, 69, 69);
}
#remove:hover {
  background-color: rgb(107, 31, 31);
}
#edit {
  background-color: rgb(69, 160, 172);
}
#edit:hover {
  background-color: rgb(31, 102, 107);
}
